.home-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 17vh;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  color: #010101;
}

.deck-size-label {
  margin: 0;
  padding-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.deck-size-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.deck-size-select {
  margin: 0 auto;
  width: 125px;
  height: 58px;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  height: 60px;
  width: 200px;
  font-weight: 600;
  font-size: 20px;
  background-color: #ff5222;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.game-rules {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(122, 122, 122);
}

.data-container {
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.tries {
  color: gray;
  font-size: 17px;
  display: inline-block;
  position: relative;
}

.tries span {
  color: black;
}

.best-result {
  justify-self: center;
  color: gray;
  text-align: center;
}
.best-result span {
  color: black;
  font-size: 40px;
}

.restart-button {
  justify-self: right;
  text-transform: uppercase;
  height: 50px;
  width: 150px;
  vertical-align: middle;
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
}

.game-container {
  margin-left: 250px;
  margin-right: 250px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-items: stretch;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  row-gap: 15px;
}

.card {
  box-sizing: border-box;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s;
}

.card img {
  width: 70%;
}

.show {
  display: block;
}
.hide {
  display: none;
}

.matched {
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

.matched img {
  width: 70%;
  opacity: 50%;
}

@media screen and (max-width: 1080px) {
  .game-container {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
}

@media screen and (max-width: 768px) {
  .start-button {
    height: 50px;
    width: 160px;
  }

  .header-logo {
    height: 50px !important;
    width: auto;
  }

  .restart-button {
    height: 40px !important;
    width: 130px !important;
    font-size: 18px !important;
  }

  .data-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .header {
    justify-content: space-evenly;
  }

  .deck-size-select {
    width: 100px;
    height: 50px;
  }

  .header-title {
    display: block;
  }

  .game-container {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }

  .data-container {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
}

@media screen and (max-width: 640px) {
  .start-button {
    height: 40px;
    width: 140px;
  }

  .home-title {
    font-size: 25px;
  }

  .game-rules {
    font-size: 14px;
  }

  .header-logo {
    height: 40px !important;
    width: auto;
  }

  .matched img {
    width: 50% !important;
  }

  .restart-button {
    height: 30px !important;
    width: 110px !important;
    font-size: 16px !important;
  }

  .header {
    display: flex !important;
    justify-content: space-evenly !important;
  }

  .header .deck-size-select {
    width: 80px;
    height: 50px;
    margin-left: 10px;
  }

  .start-button {
    font-size: 10px;
    margin-left: 10px;
  }

  .card {
    width: 120px !important;
    height: 120px !important;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, 140px) !important;
  }

  .header-title {
    display: none !important;
  }
}

@media screen and (max-width: 414px) {
  .card {
    width: 100px !important;
    height: 100px !important;
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, 100px) !important;
  }

  .game-rules {
    font-size: 10px;
  }

  .deck-size-select {
    width: 90px !important;
    height: 48px !important;
  }
}
